@font-face {
   font-family: 'DrukText-Bold';
   font-display: swap;
   src: url('DrukText-Bold/font.ttf');
}
@font-face {
   font-family: 'CanelaText-Regular';
   font-display: swap;
   src: url('CanelaText-Regular/font.ttf');
}
