@font-face {
   font-family: 'DrukText-Bold';
   font-display: swap;
   src: url('file:///Users/selj/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-04-27_114746/fonts/DrukText-Bold/font.ttf');
}
